Repository SUSE/doc-styleguide, pull requests merged in 2022-09, with the labels that each got.

#216 Add terminology for 'unit' and 'unit file' (#16)
  xml/docu_styleguide.terminology.xml
Labels: section-terminology

#220 Updated rules for comma use in the 'Language' section
  xml/docu_styleguide.language.xml
Labels: type-enhancement, section-language

#219 Corrected the spelling of 'command-line' in 'Terminology'
  xml/docu_styleguide.terminology.xml
Labels: type-enhancement, section-terminology

#221 Added info on referencing callouts
  xml/docu_styleguide.structure.xml
Labels: type-enhancement, section-structure
